In [1]:
import requests
import pandas as pd
import io  
from datetime import datetime as dt

In [2]:
def extract_header_and_data(lines):
    header, data = [], 'timestamp  level\n'
    for line in lines:
        if line.startswith("#"):
            header.append(line)
        else:
            data += line + '\n'
    return header, data

In [3]:
#refcode
start_date = '2022-09-15T00:00'
end_date = '2022-09-21T00:00'
lat = '58.97433900'
lon = '5.73012100'
place = 'SVG'
interval = 10 #10

In [4]:
url= 'http://api.sehavniva.no/tideapi.php?tide_request=locationdata&lat={}&lon={}\
&datatype=PRE&file=txt&lang=en&place={}&dst=1&refcode=CD&fromtime={}\
&totime={}&interval=10'.format(lat, lon, place, start_date, end_date)
res = requests.get(url)
res

In [5]:
response_text = res.text.split('\r\n')
header, data = extract_header_and_data(response_text)
df = pd.read_csv(io.StringIO(data), sep='\s+', usecols = ['timestamp', 'level'])
df['timestamp'] = df['timestamp'].apply(lambda x: dt.strptime(x,"%Y-%m-%dT%H:%M:%S+02:00"))
df.head()

            timestamp  level
0 2022-09-15 01:00:00   91.9
1 2022-09-15 01:10:00   94.3
2 2022-09-15 01:20:00   96.5
3 2022-09-15 01:30:00   98.4
4 2022-09-15 01:40:00   99.9

In [6]:
header

['#Site name:       SVG',
 '#Abstract:        Tides and observed water level from Stavanger',
 '#Provider:        Statens kartverk sj√∏ (Norwegian Hydrographic Service)',
 '#Latitude:        58.97433900',
 '#Longitude:       5.73012100',
 '#Datum:           EUREF89',
 '#Time interval:   600 seconds',
 '#Reference level: CD (Chart Datum)',
 '#Z0: 67.9 cm',
 '#Start time:      2022-09-15T01:00:00+02:00',
 '#End time:        2022-09-21T01:00:00+02:00',
 '#Unit:            cm',
 '#Series1:         Predicted tide (astronomical)']